@import "mixing_all";
@import "variable";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100%;
    @include Flexbox();
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMy94tWPm8Ag19tVrAg1YBkMhF1mMiGwrAjQ&s');
    background-size: cover;
    .login{
        height: 350px;
        border: 1px solid transparent;
        border-radius: 20px;
        box-shadow: -1px -1px 12px 4px  oldlace;
        background-color:transparent;
        form{

            @include Flexbox();
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            padding: 20px;
            .heading{

                color: blanchedalmond;
                font-family: 'Courier New', Courier, monospace;
            }

            .eamil{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 80%;
                height: 55px;
                // border: 1px solid black;
                label{
                    font-family:cursive;
                    color: rgb(255, 249, 249);
                }
                input{
                    height: 30px;
                    outline: none;
                    padding-left: 10px;
                    border: 1px solid transparent;
                    &::placeholder{
                        color: rgb(56, 23, 23);
                    }
                }
            }
            .password{
                @extend .eamil;
            }
            .check{
                display: flex;
                align-items: start;
                justify-self: center;
                flex-direction: column;
                justify-content: space-between;
                width: 80%;
                // border: 2px solid black;
                height: 45px;
                color: rgb(173, 194, 194);
                a{
                    text-decoration: none;
                    color: rgb(29, 72, 226);
                    &:hover{
                        border-bottom: 0.5px solid blue;
                    }
                }
            }
            .btn{
                width: 40%;
                height: 40px;
                font-size: 25px;
                font-family: cursive;
                border-radius: 20px;
                border: none;
                outline: none;
                background-color:rgb(98, 6, 185);
                box-shadow: -1px -1px 6px 2px  oldlace;
                &:hover{
                    cursor: pointer;
                    background-color: rgb(8, 8, 7);
                    color: whitesmoke;
                }
            }
        }
    }
}

@media screen and  (max-width:425px) {
    .container{

        .login{
           
            form{
                .heading{
                    font-size: 10px;
                }
    
                
            }
        }
    }
  
    
}