* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.hero_section .first_section {
  width: 100%;
  height: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  justify-content: space-evenly;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #82ae46;
}
.hero_section .first_section .phone, .hero_section .first_section .message {
  display: flex;
  gap: 20px;
}
.hero_section .first_section .phone p, .hero_section .first_section .message p {
  font-size: 12px;
}
.hero_section .first_section .phone i, .hero_section .first_section .message i {
  font-size: 12px;
}
.hero_section .first_section .delivery {
  font-size: 12px;
}
.hero_section .navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  border: 0.5px solid transparent;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.6117647059);
}
.hero_section .navbar input {
  display: none;
}
.hero_section .navbar label {
  display: none;
}
.hero_section .navbar h1 {
  font-size: 20px;
  color: #82ae46;
}
.hero_section .navbar h1:hover {
  transition: all 2s ease-in;
  color: black;
}
.hero_section .navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.hero_section .navbar ul li {
  list-style-type: none;
  padding: 15px;
  border-bottom: 3px solid transparent;
}
.hero_section .navbar ul li a {
  text-decoration: none;
  font-size: 13px;
  color: #000000;
}
.hero_section .navbar ul li a:hover {
  transition: all 1s ease-in;
  color: #82ae46;
}
.hero_section .navbar ul li:hover {
  cursor: pointer;
  transition: all 1s ease-in;
  transform: scale(1s, 3s);
  border-bottom: 3px solid #82ae46;
}
.hero_section .navbar .cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.hero_section .navbar .cart a {
  text-decoration: none;
  display: flex;
  gap: 10px;
  color: #82ae46;
  color: black;
  padding: 15px;
  border: 3px solid transparent;
  cursor: pointer;
}
.hero_section .navbar .cart a i {
  color: black;
}
.hero_section .navbar .cart a:hover {
  transition: all 1s ease-in;
  color: #82ae46;
  border-bottom: 3px solid #82ae46;
}
.hero_section .banner_section {
  height: 500px;
  width: 100%;
  background-image: url("https://watermark.lovepik.com/photo/20211208/large/lovepik-fruits-and-vegetables-poster-picture_501615020.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero_section .banner_section p {
  font-size: 40px;
  color: white;
  letter-spacing: 10px;
  padding-bottom: 10px;
}

.section_cart {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
  scrollbar-width: thin;
}
.section_cart .heading {
  height: 60px;
  display: flex;
  width: 100%;
  background-color: #82ae46;
  color: white;
  font-size: 23px;
  justify-content: space-around;
}
.section_cart .heading div {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_cart .main_cart {
  display: flex;
  height: 160px;
  width: 100%;
  justify-content: space-around;
}
.section_cart .main_cart div {
  height: 100%;
  width: 20%;
}
.section_cart .main_cart .image {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_cart .main_cart .image .cut {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_cart .main_cart .image .cut P {
  border: 0.5px solid #82ae46;
  padding: 10px;
  font-size: 15px;
  color: black;
  border-radius: 20%;
}
.section_cart .main_cart .image .cut P:hover {
  transition: all 1s ease-in;
  background-color: #82ae46;
  color: white;
  cursor: pointer;
}
.section_cart .main_cart .image .main_image {
  height: 100%;
  width: 80%;
}
.section_cart .main_cart .image .main_image img {
  height: 100%;
  width: 100%;
}
.section_cart .main_cart .detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.section_cart .main_cart .detail h5 {
  font-size: 16px;
  color: black;
}
.section_cart .main_cart .detail p {
  font-size: 15px;
  color: #808080;
}
.section_cart .main_cart .price, .section_cart .main_cart .total, .section_cart .main_cart .quantity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: black;
}
.section_cart .main_cart .quantity input {
  height: 40%;
  text-align: center;
  font-size: 20px;
  outline: none;
  border: 0.001px solid rgb(205, 205, 205);
}
.section_cart .main_cart .quantity input::-moz-placeholder {
  color: black;
}
.section_cart .main_cart .quantity input::placeholder {
  color: black;
}
.cart_information_all {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}
.cart_information_all .coupon_code {
  height: 80%;
  width: 30%;
}
.cart_information_all .coupon_code .coupon_code_inner {
  width: 80%;
  border: 0.5px solid rgb(235, 235, 235);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
.cart_information_all .coupon_code .coupon_code_inner h1 {
  font-size: 16px;
  color: black;
}
.cart_information_all .coupon_code .coupon_code_inner p {
  font-size: 15px;
  color: #808080;
}
.cart_information_all .coupon_code .coupon_code_inner label {
  font-size: 12px;
  color: black;
}
.cart_information_all .coupon_code .coupon_code_inner input {
  height: 50px;
}
.cart_information_all .coupon_code button {
  margin-left: 20px;
  margin-top: 5px;
  padding: 10px;
  border-radius: 20px;
  outline: none;
  border: none;
  background-color: #82ae46;
  color: white;
  font-size: 16px;
  border: 0.5px solid transparent;
}
.cart_information_all .coupon_code button:hover {
  transition: all 1s ease-in;
  border: 0.5px solid #82ae46;
  color: #82ae46;
  background-color: white;
}
.cart_information_all .shipping {
  width: 30%;
}
.cart_information_all .shipping .shipping_inner {
  width: 80%;
  border: 0.5px solid rgb(235, 235, 235);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
.cart_information_all .shipping .shipping_inner h1 {
  font-size: 16px;
  color: black;
}
.cart_information_all .shipping .shipping_inner p {
  font-size: 15px;
  color: #808080;
}
.cart_information_all .shipping .shipping_inner label {
  font-size: 13px;
  color: black;
}
.cart_information_all .shipping .shipping_inner input {
  height: 50px;
}
.cart_information_all .shipping button {
  margin-left: 20px;
  margin-top: 5px;
  font-size: 16px;
  padding: 10px;
  border-radius: 20px;
  outline: none;
  border: none;
  background-color: #82ae46;
  color: white;
  border: 0.5px solid transparent;
}
.cart_information_all .shipping button:hover {
  transition: all 1s ease-in;
  border: 0.5px solid #82ae46;
  color: #82ae46;
  background-color: white;
}
.cart_information_all .card_total {
  height: 80%;
  width: 30%;
}
.cart_information_all .card_total .cart_total_inner {
  width: 80%;
  border: 0.5px solid rgb(235, 235, 235);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
.cart_information_all .card_total .cart_total_inner h1 {
  font-size: 16px;
  color: black;
}
.cart_information_all .card_total .cart_total_inner div {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.cart_information_all .card_total .cart_total_inner div p {
  font-size: 12px;
  color: #808080;
}
.cart_information_all .card_total button {
  margin-left: 20px;
  margin-top: 5px;
  font-size: 16px;
  padding: 10px;
  border-radius: 20px;
  outline: none;
  border: none;
  background-color: #82ae46;
  color: white;
  border: 0.5px solid transparent;
}
.cart_information_all .card_total button:hover {
  transition: all 1s ease-in;
  border: 0.5px solid #82ae46;
  color: #82ae46;
  background-color: white;
}

.from_section {
  height: 150px;
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f6f2;
  justify-content: space-around;
}
.from_section .para {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 20px;
}
.from_section .para h1 {
  font-size: 22px;
  color: black;
  margin-bottom: 5px;
}
.from_section .para p {
  font-size: 15px;
  margin-top: 5px;
  color: #808080;
}
.from_section .form_section {
  height: 100%;
  width: 50%;
  background-color: #f7f6f2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.from_section .form_section input {
  height: 50px;
  width: 50%;
  outline: none;
  border: none;
  padding-left: 20px;
}
.from_section .form_section button {
  height: 50px;
  width: 20%;
  outline: none;
  border: none;
  background-color: #82ae46;
  color: white;
}
.from_section .form_section button:hover {
  transition: all 1s ease-in;
  background-color: white;
  color: #82ae46;
  border: 0.5px solid #82ae46;
}
.from_section .animation {
  height: 40%;
  width: 5%;
  background-color: #82ae46;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: white;
  position: relative;
  top: 70px;
}
.from_section .animation p {
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes example {
  0% {
    padding-bottom: 20px;
  }
  100% {
    padding-top: 30px;
  }
}

footer .footer_menu {
  height: 400px;
  width: 100%;
  background-color: #fff8f8;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer_menu .veges {
  height: 300px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 20px 60px;
  justify-content: space-evenly;
}
footer .footer_menu .veges h1 {
  font-family: "Courier New", Courier, monospace;
}
footer .footer_menu .veges p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
footer .footer_menu .veges .footer_show {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}
footer .footer_menu .veges .footer_show div {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.0196078431);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
footer .footer_menu .veges .footer_show div a {
  text-decoration: none;
  font-size: 25px;
  color: black;
}
footer .footer_menu .menu {
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 40px;
  justify-content: space-evenly;
}
footer .footer_menu .menu h1 {
  margin-top: 15px;
  font-family: "Courier New", Courier, monospace;
}
footer .footer_menu .menu a {
  text-decoration: none;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
footer .footer_menu .help {
  height: 300px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 40px;
  justify-content: space-evenly;
}
footer .footer_menu .help a {
  text-decoration: none;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
footer .footer_menu .help a span {
  margin-left: 15px;
  margin-top: 5px;
}
footer .footer_menu .help h1 {
  font-family: "Courier New", Courier, monospace;
  margin-top: 10px;
}
footer .footer_menu .question {
  height: 300px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
footer .footer_menu .question h1 {
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 15px;
}
footer .footer_menu .question .location {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer_menu .question .location i {
  font-size: 20px;
  text-align: start;
  margin-bottom: 33px;
  margin-right: 30px;
}
footer .footer_menu .question .contact a {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 30px;
  color: black;
}
footer .footer_menu .question .contact i {
  font-size: 20px;
  color: black;
}
footer .footer_menu .question .email a {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 30px;
  color: black;
}
footer .footer_menu .question .email i {
  font-size: 20px;
  color: black;
}
footer .footer_main {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 768px) {
  .hero_section .first_section .phone, .hero_section .first_section .message {
    display: none;
  }
  .hero_section .first_section .message {
    display: none;
  }
  .hero_section .first_section .delivery {
    font-size: 12px;
  }
  .hero_section .navbar {
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
  }
  .hero_section .navbar label {
    display: block;
  }
  .hero_section .navbar label:hover {
    transition: all 2s ease-in;
    color: #82ae46;
    cursor: pointer;
  }
  .hero_section .navbar ul {
    display: none;
    position: absolute;
    top: 70px;
    flex-direction: column;
    gap: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.6078431373);
    width: 100%;
    align-items: start;
  }
  .hero_section .navbar #click:checked ~ ul {
    display: block;
  }
  .hero_section .banner_section {
    height: 300px;
  }
  .hero_section .banner_section p {
    letter-spacing: 5px;
    font-size: 30px;
  }
  .cart_information_all {
    height: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    justify-content: space-evenly;
  }
  .cart_information_all .coupon_code {
    height: 30%;
    width: 90%;
  }
  .cart_information_all .coupon_code .coupon_code_inner {
    width: 100%;
    border: 0.5px solid rgb(235, 235, 235);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
  }
  .cart_information_all .coupon_code .coupon_code_inner h1 {
    font-size: 16px;
    color: black;
  }
  .cart_information_all .coupon_code .coupon_code_inner p {
    font-size: 15px;
    color: #808080;
  }
  .cart_information_all .coupon_code .coupon_code_inner label {
    font-size: 12px;
    color: black;
  }
  .cart_information_all .coupon_code .coupon_code_inner input {
    height: 50px;
  }
  .cart_information_all .coupon_code button {
    margin-left: 20px;
    margin-top: 5px;
    padding: 10px;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: #82ae46;
    color: white;
    font-size: 16px;
    border: 0.5px solid transparent;
  }
  .cart_information_all .coupon_code button:hover {
    transition: all 1s ease-in;
    border: 0.5px solid #82ae46;
    color: #82ae46;
    background-color: white;
  }
  .cart_information_all .shipping {
    width: 90%;
  }
  .cart_information_all .shipping .shipping_inner {
    width: 100%;
    border: 0.5px solid rgb(235, 235, 235);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
  }
  .cart_information_all .shipping .shipping_inner h1 {
    font-size: 16px;
    color: black;
  }
  .cart_information_all .shipping .shipping_inner p {
    font-size: 15px;
    color: #808080;
  }
  .cart_information_all .shipping .shipping_inner label {
    font-size: 13px;
    color: black;
  }
  .cart_information_all .shipping .shipping_inner input {
    height: 50px;
  }
  .cart_information_all .shipping button {
    margin-left: 20px;
    margin-top: 5px;
    font-size: 16px;
    padding: 10px;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: #82ae46;
    color: white;
    border: 0.5px solid transparent;
  }
  .cart_information_all .shipping button:hover {
    transition: all 1s ease-in;
    border: 0.5px solid #82ae46;
    color: #82ae46;
    background-color: white;
  }
  .cart_information_all .card_total {
    width: 90%;
  }
  .cart_information_all .card_total .cart_total_inner {
    width: 100%;
    border: 0.5px solid rgb(235, 235, 235);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
  }
  .cart_information_all .card_total .cart_total_inner h1 {
    font-size: 16px;
    color: black;
  }
  .cart_information_all .card_total .cart_total_inner div {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  .cart_information_all .card_total .cart_total_inner div p {
    font-size: 12px;
    color: #808080;
  }
  .cart_information_all .card_total button {
    margin-left: 20px;
    margin-top: 5px;
    font-size: 16px;
    padding: 10px;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: #82ae46;
    color: white;
    border: 0.5px solid transparent;
  }
  .cart_information_all .card_total button:hover {
    transition: all 1s ease-in;
    border: 0.5px solid #82ae46;
    color: #82ae46;
    background-color: white;
  }
  .from_section {
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #f7f6f2;
  }
  .from_section .para {
    height: 40%;
    width: 100%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
  }
  .from_section .para h1 {
    font-size: 22px;
    color: black;
    margin-bottom: 5px;
  }
  .from_section .para p {
    font-size: 15px;
    margin-top: 5px;
    color: #808080;
  }
  .from_section .form_section {
    height: 50%;
    width: 100%;
    padding-bottom: 50px;
    background-color: #f7f6f2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .from_section .form_section input {
    height: 50px;
    width: 50%;
    outline: none;
    border: none;
    padding-left: 20px;
  }
  .from_section .form_section button {
    height: 50px;
    width: 20%;
    outline: none;
    border: none;
    background-color: #82ae46;
    color: white;
  }
  .from_section .form_section button:hover {
    transition: all 1s ease-in;
    background-color: white;
    color: #82ae46;
    border: 0.5px solid #82ae46;
  }
  .from_section .animation {
    height: 50px;
    width: 50px;
    background-color: #82ae46;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 38px;
    color: white;
    position: relative;
    top: 120px;
  }
  .from_section .animation p {
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  @keyframes example {
    0% {
      padding-bottom: 20px;
    }
    100% {
      padding-top: 30px;
    }
  }
  footer .footer_menu {
    height: 400px;
    width: 100%;
    background-color: #fff8f8;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer .footer_menu .veges {
    height: 300px;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    justify-content: space-evenly;
  }
  footer .footer_menu .veges h1 {
    font-size: 18px;
    font-family: "Courier New", Courier, monospace;
  }
  footer .footer_menu .veges p {
    font-size: 12px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  footer .footer_menu .veges .footer_show {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
  }
  footer .footer_menu .veges .footer_show div {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.0196078431);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
  footer .footer_menu .veges .footer_show div a {
    text-decoration: none;
    font-size: 15px;
    color: black;
  }
  footer .footer_menu .menu {
    height: 300px;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 40px;
    justify-content: space-evenly;
  }
  footer .footer_menu .menu h1 {
    margin-top: 15px;
    font-size: 18px;
    font-family: "Courier New", Courier, monospace;
  }
  footer .footer_menu .menu a {
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  footer .footer_menu .help {
    height: 300px;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 40px;
    justify-content: space-evenly;
  }
  footer .footer_menu .help a {
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  footer .footer_menu .help a span {
    margin-left: 5px;
    margin-top: 1px;
  }
  footer .footer_menu .help h1 {
    font-family: "Courier New", Courier, monospace;
    margin-top: 10px;
    font-size: 18px;
  }
  footer .footer_menu .question {
    height: 300px;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  footer .footer_menu .question h1 {
    font-size: 18px;
    font-family: "Courier New", Courier, monospace;
    margin-bottom: 15px;
  }
  footer .footer_menu .question .location {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer .footer_menu .question .location i {
    font-size: 13px;
    text-align: start;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  footer .footer_menu .question .location p {
    font-size: 12px;
  }
  footer .footer_menu .question .contact a {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 30px;
    color: black;
  }
  footer .footer_menu .question .contact i {
    font-size: 13px;
    color: black;
  }
  footer .footer_menu .question .contact p {
    font-size: 12px;
  }
  footer .footer_menu .question .email a {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 30px;
    color: black;
  }
  footer .footer_menu .question .email i {
    font-size: 13px;
    color: black;
  }
  footer .footer_menu .question .email p {
    font-size: 12px;
  }
  footer .footer_main {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
}
@media screen and (max-width: 425px) {
  .hero_section .navbar ul {
    top: 23px;
  }
  .hero_section .navbar .cart {
    display: none;
  }
  .hero_section .banner_section {
    height: 250px;
  }
  .hero_section .banner_section p {
    letter-spacing: 5px;
    font-size: 20px;
  }
  .section_cart {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    overflow-x: scroll;
    scrollbar-width: thin;
  }
  .section_cart .heading {
    height: 60px;
    display: flex;
    min-width: 1000px !important;
    margin-left: 580px;
    background-color: #82ae46;
    color: white;
    font-size: 23px;
    justify-content: space-around;
  }
  .section_cart .heading div {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section_cart .main_cart {
    display: flex;
    height: 160px;
    min-width: 1000px !important;
    margin-left: 580px;
    justify-content: space-around;
  }
  .section_cart .main_cart div {
    height: 100%;
    width: 20% !important;
  }
  .section_cart .main_cart .image {
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section_cart .main_cart .image .cut {
    height: 100%;
    width: 20% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section_cart .main_cart .image .cut P {
    border: 0.5px solid #82ae46;
    padding: 10px;
    font-size: 15px;
    color: black;
    border-radius: 20%;
  }
  .section_cart .main_cart .image .cut P:hover {
    transition: all 1s ease-in;
    background-color: #82ae46;
    color: white;
    cursor: pointer;
  }
  .section_cart .main_cart .image .main_image {
    height: 100%;
    width: 80% !important;
  }
  .section_cart .main_cart .image .main_image img {
    height: 100%;
    width: 100%;
  }
  .section_cart .main_cart .detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .section_cart .main_cart .detail h5 {
    font-size: 16px;
    color: black;
  }
  .section_cart .main_cart .detail p {
    font-size: 15px;
    color: #808080;
  }
  .section_cart .main_cart .price, .section_cart .main_cart .quantity, .section_cart .main_cart .total {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: black;
  }
  .section_cart .main_cart .quantity input {
    height: 40%;
    text-align: center;
    font-size: 20px;
    outline: none;
    border: 0.001px solid rgb(205, 205, 205);
  }
  .section_cart .main_cart .quantity input::-moz-placeholder {
    color: black;
  }
  .section_cart .main_cart .quantity input::placeholder {
    color: black;
  }
  .cart_information_all .coupon_code {
    height: 30%;
    width: 90%;
  }
  .cart_information_all .coupon_code .coupon_code_inner {
    width: 100%;
    border: 0.5px solid rgb(235, 235, 235);
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .cart_information_all .coupon_code button {
    margin-left: 20px;
    margin-top: 10px;
    padding: 10px;
  }
  .cart_information_all .shipping {
    width: 90%;
  }
  .cart_information_all .shipping .shipping_inner {
    width: 100%;
    border: 0.5px solid rgb(235, 235, 235);
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .cart_information_all .shipping button {
    margin-left: 20px;
    margin-top: 10px;
  }
  .cart_information_all .card_total {
    width: 90%;
  }
  .cart_information_all .card_total .cart_total_inner {
    width: 100%;
    border: 0.5px solid rgb(235, 235, 235);
  }
  .cart_information_all .card_total button {
    margin-left: 20px;
    margin-top: 10px;
  }
  footer .footer_menu {
    height: 1200px;
    width: 100%;
    flex-direction: column;
  }
  footer .footer_menu .veges {
    height: 300px;
    width: 100%;
  }
  footer .footer_menu .menu {
    height: 300px;
    width: 100%;
    justify-content: center;
    align-items: start;
    justify-content: space-evenly;
  }
  footer .footer_menu .help {
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 40px;
    justify-content: space-evenly;
  }
  footer .footer_menu .help a {
    text-decoration: none;
    color: black;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  footer .footer_menu .help a span {
    margin-left: 15px;
    margin-top: 5px;
  }
  footer .footer_menu .help h1 {
    font-family: "Courier New", Courier, monospace;
    margin-top: 10px;
  }
  footer .footer_menu .question {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 10px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  footer .footer_menu .question .location {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer .footer_menu .question .location i {
    font-size: 13px;
    text-align: start;
    margin-left: -80px;
  }
  footer .footer_menu .question .location p {
    padding: 0px;
    margin: 0px;
    font-size: 12px;
  }
  footer .footer_main {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
}/*# sourceMappingURL=cart.css.map */